.App {
  text-align: center;
  padding: 20px;
}

.product-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  width: 260px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.sale-badge {
  color: white;
  font-weight: bold;
  border-radius: 0.2rem;
  background-color: red;
  font-size: 7px;
  padding: 1px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
